.wrapper{
    margin: 20px auto;
    min-width: 600px;
    max-width: 900px;
}
.wrapper__component{
    padding:10px;
    margin: 15px 0;
    box-shadow: 0 0 5px #6d6d6d;
}
.data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.data label{
    margin-left:20px;
}
.search{
    width: 100%;
    margin: 10px 0;
    display: flex;
}
.search__field{
    flex-grow: 1;
    margin-right: 5px;
}

.table{
    width: 100%;
    border: 1px solid #000000;
    margin:10px 0;
    border-collapse: collapse;
    border-spacing: 0;

}
.table__head{
    background-color: yellowgreen;
}
.table th,
.table td,
.table{
    padding: 5px;
    border: 1px solid black;
    position: relative;
}
.table th{
    padding-right: 20px;
}
.arr-up::after{
    content: '';
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-75%);
    border: 7px solid transparent;
    border-bottom: 7px solid green;
}
.arr-down::after{
    content: '';
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-25%);
    border: 7px solid transparent;
    border-top: 7px solid green;
}
.pagination{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.pagination__item{
    margin-right:5px;
}
.pagination__link{
    display: block;
    text-align: center;
    width:1em;
    height:1em;
    padding: 5px;
    text-decoration: none;
    color: #000;
    border-radius: 50%;
}
.pagination__link:hover{
    background: #aaaaaa;
}
.active .pagination__link{
    background: #f7f23d;

}
.active .pagination__link:hover{
    background: #f7f23d;
    cursor:default;
}
.current-row pre{
    background-color: #f7f23d;
}