<div class="data">
    <div >Наборы данных:</div>
    <label >Большой<input name="data" type="radio" value="bigBd.json"></label>
    <label >Маленький<input name="data" type="radio" value="smallBd.json"></label>
    <label >Свой<input name="data" type="radio"></label>
    <button class="add-tamplate" ng-click="myData('bigBd.json')">Добавить таблицу</button>
</div>
<div class="search" ng-if="currentDataList">
    <input type="search" class="search__field" placeholder="Введите поисковую фразу">
    <button class="search__btn">Искать</button>
</div>

<table class="table" ng-if="currentDataList">
    <tr class="table__head">
        <th>{{header.id}}</th>
        <th>{{header.name}}</th>
        <th>{{header.price}}</th>
        <th>{{header.quantity}}</th>
    </tr>
    <tr ng-repeat="item in currentDataList">
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
</table>
<ul class="pagination" ng-if="currentDataList">
    <li class="pagination__item" ng-class="{'active':getCurrentPageNum() == item.pageLink}" ng-repeat="item in paginationList" ng-click="showPage(item.pageLink)">
        <a class="pagination__link" href="">{{item.pageText}}</a>
    </li>

</ul>
<button ng-click="createInstanse()">Render</button>
