<div class="data">
    <div >Наборы данных:</div>
    <label >Большой<input name="data" type="radio" value="bigBd.json"></label>
    <label >Маленький<input name="data" type="radio" value="smallBd.json"></label>
    <label >Свой<input name="data" type="radio"></label>
    <button class="add-tamplate" ng-click="myData('bigBd.json')">Добавить таблицу</button>
</div>
<div class="search" ng-if="currentDataList">
    <input type="search" class="search__field" placeholder="Введите поисковую фразу">
    <button class="search__btn">Искать</button>
</div>

<table class="table" ng-if="currentDataList">
    <tr class="table__head">
        <th ng-repeat="item in header" ng-click="sort($index)" ng-class="isClick ? (direction[$index] ? 'arr-up' : 'arr-down'):''">{{item}}</th>
    </tr>
    <tr ng-repeat="row in currentDataList">
        <td ng-repeat="cell in row">{{cell}}</td>

    </tr>
</table>
<ul class="pagination" ng-if="currentDataList">
    <li class="pagination__item" ng-class="{'active':getCurrentPageNum() == item.pageLink}" ng-repeat="item in paginationList" ng-click="showPage(item.pageLink)">
        <a class="pagination__link" href="">{{item.pageText}}</a>
    </li>

</ul>
<button ng-click="createInstanse()">Render</button>

